<head>
  <title>todolist</title>
</head>

<body>
  {{> app}}
</body>

<template name="app">
  <h1>Simple Todo List</h1>
  {{> search}}
  <hr>
  {{> add_item label="Add New Item"}}
  <hr>
  {{> item_list items=items}}
</template>

<template name="search">
  <input type="text" placeholder="search" />
</template>

<template name="add_item">
  {{#if adding}}
  <input type="text" />
  {{else}}
  <button>{{label}}</button>
  {{/if}}
</template>

<template name="item_list">
  {{#each items}}
  <div>
    {{> todo_item item=this}}
  </div>
  {{/each}}
</template>

<template name="todo_item">
  <label>
    <input type="checkbox" checked={{done}} />
    <span class="{{doneClass}} {{matchClass}}"> {{item.name}}</span>
  </label>
  {{> add_item label="+" parent_id=item._id}}

  <div style="padding-left: 2em">
    {{#if subitems.count}}
    {{> item_list items=subitems}}
    {{/if}}
  </div>
</template>
